log
*.log
npm-debug.log*
.DS_Store
start_air.sh

run_livekit.sh
docker-compose.yaml
config.yaml
livekit.yaml

.idea
build/
dist/
mariadb-data/
upload/
recording_files/
client/
recorder/
etc/tmp/
tmp/

!test/*
