log
*.log
npm-debug.log*
.DS_Store
start_air.sh

run_livekit.sh
docker-compose.yaml
config.yaml
livekit.yaml
ingress.yaml
nats_server.conf

.idea
/build/
/dist/
/mariadb-data/
/upload/
/recording_files/
/client/
/etc/tmp/
/tmp/
/recorder/
/analytics/

!test/*
